.post__container {
   padding: 10px;
   display: flex;
   flex-direction: column;
   border: 1px solid black;
}

.post__container p {
   margin: 0;
}

.post__container img {
   width: 35px;
   height: 35px;
   margin-right: 20px;
}
